@keyframes anim1{
    100%{
        transform:translate(200px,0px);       
    }
}
.circle1 {
 animation-name: anim1; 
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: ease;
}
